<div class="main-top">
  <div class="room-title">
    hogefuga
  </div>
  <div class="room-finish">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main-room">
  <div class="message">
    <div class="message-top">
      <div class="name">
        Tom
      </div>
      <div class="date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
  <div class="message">
    <div class="message-top">
      <div class="name">
      Tom
      </div>
      <div class="date">
      2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="message-form">
  <div class="input-form">
    <input placeholder="type a message" class="text-form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-form">
</div>